body, html{
  background-color: #E9E9E9;
  margin: 0;
  font-family: 'Baloo 2', cursive;
font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100%;
  background-image: url('./assets/background.png');
  background-position: 50% 55%;
  /* cursor: url("./assets/ellipse.png"), pointer; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}